alligator/.vs
alligator.sln
alligator/alligator/alligator.vcxproj*
alligator/alligator/x64/Debug/*log
alligator/alligator/x64/Debug/*recipe
alligator/alligator/x64/Debug/*ilk
alligator/alligator/x64/Debug/*obj
alligator/alligator/x64/Debug/*idb
alligator/alligator/x64/Debug/*pdb


